.header-container {
    height: 50px;
   
    .logo{
        width: 200px;
        display: flex;
        align-items: center;
        padding: 10px;
        &:hover{
            cursor: pointer;
        }
     
    }

    
.logo-text{
    margin-left: 10px;
}


    .user{
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 350px;
        .icons{
            display: flex;
            justify-content: start;
        }
    }

}
.menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
  font-weight: 600;

    a{
        text-decoration: none;
        
       
    }
}

.detail{
    display: flex;
    justify-content: end;
    .names{

        display: flex;
        align-items: end;
        flex-direction: column;
        padding-right: 5px;
    }
    .img{
        width: 50px;
        height: 40px; 
    display: flex ;;
align-items: center;
     img{
        border-radius: 15px;
        width: 30px;
        height: 30px;
    }}
}
.topnav{display: flex;
    justify-content: space-between;
    height: 50px;}
.header-container .iconss {
    display: none;
  }

@media screen and (max-width: 881px) {


    .topnav  {display: none;}
    .header-container  .iconss {
      float: right;
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
    }
     
  .topnav {
    transition:all 0.3s;
   
  }


    .responsive {position: relative!important;
      ;  }
     .iconss {
      float: none;
      display: block!important;
      position: absolute;
      right: 0px;
      top: 0px;
      z-index: 2;
    }
    .responsive  {
      float: none;
      display: flex!important;
      flex-direction: column;
      
      z-index: 1;
      text-align: left;
      position: absolute;
     padding-right: 5px;
     font-size: 11px;
     background-color: #353839;
     height: 100px;
     .menu-list{
        display: flex;flex-direction: column;
        align-items:end ;
        width:97% ;
        padding-right: 15px;
    }
    .logo{
        position: absolute;
        top: 0;
    }
    .user{
        display: flex;
        flex-direction: column;
        position: absolute;
        top:50px;
        left: 0 ;
        align-items: end;
        width: 75%;
    .detail{
        margin-top: 20px;
    }
    }
    }
    .responsive  {
       padding-top: 40px;
     
      }
    }