<div *ngIf="setting && user" class="  header-container" >
    <a style="font-size: 16px!important;" href="javascript:void(0);" class="iconss" (click)="myFunction()">
        <i class="fa fa-bars"></i></a>
    <div class="topnav" id="myTopnav">
    <div routerLink="/" class="logo">
        <img [src]="setting.logo" alt="">
        <span class="logo-text" >{{setting.logo_title}}</span>
    </div>
    <div class="menu-list " >
        
                <a *ngFor="let m of menu" [routerLink]="'/'">{{m.label}}</a>
              


    </div>
    <div class="user">
        <div class="icons">
           <div class="icon"><i style="font-size: 14px; padding:5px ;" class='fa fa-comment'></i></div>
           <div class="icon"><i style="font-size: 14px; padding:5px ;" class='fa fa-bell'></i></div>
           <app-dark-mode-toggle></app-dark-mode-toggle>
        </div>
       <div class="detail">
        <div class="names">
<span style="font-weight: 400;">{{user.name}}</span>
<span  style="font-size: 12px;">{{'Vote:'+user.vote+ ' Survey:'+user.survey}}</span>
        </div>
        <div class="img">
            <i style=" padding-right: 5px;" class='fa fa-angle-down'></i>
            <img [src]="user.img" alt="">
        </div>
       </div>
    </div>
</div>
</div>