/* You can add global styles to this file, and also import other style files */
@import "node_modules/ol/ol.css";
$darkColor:#242829;
$lightColor: #a7b6bc;

$headdarkColor:#3e4648;
$headlightColor: #c0d0d6;

body,
html
{
    box-sizing: border-box;
    margin: 0!important;
    padding: 0!important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.dark-mode {
    .responsive{
        background-color:#2d2e2f;;
    }
    background-color: $darkColor;
    color: #dfe6e9;
    a{
        color:  #dfe6e9;
    }
    .header-container{background-color:$headdarkColor ;}
    .icon{background-color:$darkColor;
        border-radius:3px;margin-left:2px; 
    }
    .footer{background-color:$headdarkColor}
 .c2,.c1, #map,  th,  textarea,input,select,.new, .pagination{background-color: $darkColor;  color: #dfe6e9;}
  }
  
  body.light-mode {
    .responsive{
        background-color:#e3e3e3;
    }
    background-color: $lightColor;
     .c2,.c1, #map,th, textarea,input,select,.new, .pagination{background-color: $lightColor;
        border: #242829;
       color: #2d3436;
    }
    color: #2d3436;
    a{
        color: #2d3436;
    }
    .header-container{background-color:$headlightColor ;}
    .icon{background-color:$lightColor;
        border-radius:3px;margin-left:2px; 
    }
    .footer{background-color:$headlightColor}
  }

  .right::-webkit-scrollbar {
    color: aliceblue;
    width: 5px;
background-color: #191c1d!important;
 }

 @media screen and (max-width: 584px) {
 
 
 
    button,input
    {
      margin-left: 5px;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      background-color: #0756a5;
      color: #fff;
      height: 40px;
      width: 130px;
      border-radius: 5px;
      border: none;
      box-shadow: 1px 3px 3px #999;
    }
     .c1{
       margin-top: 20px!important;
       height: 180px!important;
       width:180px!important;
    }
 
    .c2{
       margin-top: 40px!important;
       height: 100px!important;
       width:200px!important;
    }
  }