.home{
    padding: 0 40px;
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

.cards{
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding-top:30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
   
}
.card{
    
    width: 230px;
    height: 135px;
    margin: 19px;
    position: relative;
    border-radius: 8px;
    border: 1px solid rgb(31, 151, 255);
    &:hover{
        cursor: pointer;
    }
}


.card-img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.card-desc{
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: rgba($color: #000000, $alpha: .6);
    bottom: 0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.leftside{
   width: 60%;
   flex-direction: column;
   justify-content: center;

   color: #b3b3b3;
   padding-left: 3px;
}

.rightside{
    width: 40%;
   display: flex;
   align-items: end;
    justify-content: end;
   
 }
 .icon{
    font-size: 11px;
    padding: 4px;
    margin: 4px;
    background-color: rgb(132, 132, 132);
    color: rgb(31, 255, 31);
    border-radius: 5px;
    width: 11px;
 }

 .card-top{
    position: absolute;
    width: 30%;
    height: 11%;
    background-color: rgba($color: #000000, $alpha: .6);
   top: 1px;
   right: 1px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        font-size: 8px;
        color: #b3b3b3;
    }
 }

 .pagination{
    width: 100%;
    height: 55px;
    position: absolute;
    bottom: 50px;
 }

 .home::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .home::-webkit-scrollbar-track {
    background: #101213; 
  }
   
  /* Handle */
  .home::-webkit-scrollbar-thumb {
    background: #3f3e3e; 
  }
  
  /* Handle on hover */
  .home::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }