<div class="home"   infiniteScroll
[infiniteScrollDistance]="0.5"
(scrolled)="onScroll()"
[scrollWindow]="false">
    <div 
   
    class="cards">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" [routerLink]="'/new'"  class="card add-card">
           
            <i class="fa fa-plus" style="font-size: 35px; font-weight:1;"></i>
    <div  style="width: 100%; text-align: center;">Add New Survay</div>
        </div>

    <div [routerLink]="'/detail'" [queryParams]="{id:card.id}" class="card" *ngFor="let card of tempCard">
        <img [src]="card.img" alt="" class="card-img">
        <div class="card-top">
            <span>Vote: 32131</span>
        </div>
<div class="card-desc">
    <div class="leftside">
        <div style=" font-size: 10px; font-weight: 700;  ">{{card.title}}</div>
        <div style=" font-size: 9px; margin-top: 4px;">{{card?.subtitle?.substring(0,30)}}...</div>
    </div>
    <div class="rightside">
      <i  style="color: red;" class='fa fa-heart icon'></i>  
      <i  class='fa fa-link fa-rotate-90 icon'></i>
      <i style="color: rgb(0, 162, 255);"  class='fa fa-expand icon'></i>
    </div>

</div>
    </div>
    
</div>
</div>

